---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "May 2023 - July 2023",
    title: "Android Developer and Web Role - Palco4",
    description:
      "During my internship, my primary responsibilities included coding in JavaScript, CSS, and Java, Kotlin , Jetpack Compose. I was actively involved in developing and maintaining various software applications, ensuring they were both functional and visually appealing. Additionally, I was tasked with creating automated tests using Java and Selenium, which helped in streamlining the testing process and enhancing the overall software quality.",
    link: "https://palco4.com/",
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
